<%# Connect button. The preflight checklist is in info.md.erb (which renders in
    the session binding where staged_root is available). %>
<a class="btn btn-primary" target="_blank" href="/rnode/<%= host %>/<%= port %>/">
  <i class="fa fa-flask"></i> Connect to ABA
</a>
